<section id="footer-section">
    <div class="footer-background"></div>
    <div class="container">
        <div class="row p-3">
            <div class="col-12 footer-content">
                <div class="footer-divider"></div>
                
                <div class="social-links-container">
                    <p class="social-title">Let's Connect</p>
                    <div class="social-links">
                        <a 
                            href="https://www.linkedin.com/in/swaraj-kumar5/" 
                            target="_blank" 
                            rel="noopener noreferrer"
                            class="social-link"
                            title="LinkedIn">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a 
                            href="https://github.com/Swaraj55" 
                            target="_blank" 
                            rel="noopener noreferrer"
                            class="social-link"
                            title="GitHub">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a 
                            href="https://twitter.com/SwarajV5" 
                            target="_blank" 
                            rel="noopener noreferrer"
                            class="social-link"
                            title="Twitter">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a 
                            href="https://www.instagram.com/learn.eternally/" 
                            target="_blank" 
                            rel="noopener noreferrer"
                            class="social-link"
                            title="Instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a 
                            href="https://www.facebook.com/swaraj.chaturvedi.39" 
                            target="_blank" 
                            rel="noopener noreferrer"
                            class="social-link"
                            title="Facebook">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </div>
                </div>

                <div class="footer-copyright">
                    <p>Designed & Built by <span class="copyright-name">Swaraj Kumar</span></p>
                    <p class="copyright-year">&copy; 2024 All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
    
    <button class="scroll-to-top" [class.visible]="showScrollTop" (click)="scrollToTop()" title="Scroll to top">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
</section>