<section id="footer-section">
    <div class="container">
        <div class="row p-3">
            <div class="col-12">
                <div class="up-arrow" (click)="scrollToTop()">
                    <img src="./assets/up-arrow.png" alt="Up Arrow" width="50px" height="50px">
                </div>
            </div>

            <div class="col-12 my-5">
                <div class="social-links">
                    <svg class="color-change-svg">
                        <use xlink:href="assets/facebook.svg#facebook" (click)="handleClick('facebook')" style="cursor: pointer;"></use>
                    </svg>  
                    <svg class="color-change-svg">
                        <use xlink:href="assets/linkedin.svg#linkedin" (click)="handleClick('linkedin')" style="cursor: pointer;"></use>
                    </svg>  
                    <svg class="color-change-svg">
                        <use xlink:href="assets/twitter.svg#twitter" (click)="handleClick('twitter')" style="cursor: pointer;"></use>
                    </svg>   
                    <svg class="color-change-svg">
                        <use xlink:href="assets/github.svg#github" (click)="handleClick('github')" style="cursor: pointer;"></use>
                    </svg>   
                    <svg class="color-change-svg">
                        <use xlink:href="assets/instagram.svg#instagram" (click)="handleClick('instagram')" style="cursor: pointer;"></use>
                    </svg>                     
                </div>
            </div>

            <div class="col-12 text-center mb-2">
                <div class="text-light">Swaraj Kumar <span class="copyright">&copy;</span> 2023</div>
            </div>
        </div>
    </div>
</section>