#experience {
    background-color: black;
}

.accordion-button.collapsed::after {
    background: url('/assets/plus-lg.svg');
}

.accordion-button:not(.collapsed)::after {
    background: url("/assets/dash-lg.svg");
}

.accordion-item {
    border-color: #5d146d;
}

.accordion-button {
    background-color: #5d146d;
}

.accordion-body {
    background-color: rgba(93, 20, 109, 0.4);
    border-radius: 5px;
}

.color-of-chips {
    background-color: #803db7;
}

button.acc-btn {
    /* create a grid */
    display: grid;
    /* create colums. 1fr means use available space */
    grid-template-columns: 1fr max-content max-content;
    align-items: center;
    grid-gap: 10px;
}

.background-image-left {
    top: 190%;
    left: -6%;
    position: absolute;
    bottom: 0;
    width: 20%;
    opacity: 0.2;
}


.background-image-right {
    top: 160%;
    position: absolute;
    bottom: 0;
    width: 20%;
    right: 0%;
    opacity: 0.2;
}