<section id="contact">
    <div class="container">
        <div class="row p-3">
            <div class="col-12 text-center fw-bolder text-white display-3">
                Contact
            </div>
            <div class="col-12 text-center fw-bolder text-white mt-3" style="font-size: 18px;">
                <div>Have a question or interested in collaboration?</div>
            </div>

            <!-- Image Section -->
            <div class="col-md-5 col-sm-12 col-xs-12">
                <img src="/assets/contact-us.png" alt="Contact US" width="400px" height="500px">
            </div>

            <!-- Form Section -->
            <div class="col-md-7 col-sm-12 col-xs-12 mt-5" [formGroup]="contactUs">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <mat-form-field class="field" appearance="outline" style="width: 100%;">
                            <mat-label>Firstname</mat-label>
                            <input type="text" matInput formControlName="firstname" required>
                            <mat-error *ngIf="contactUs.controls['firstname'].hasError('required')">
                                Firstname is required 
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <mat-form-field class="field" appearance="outline" style="width: 100%;">
                            <mat-label>Lastname</mat-label>
                            <input type="text" matInput formControlName="lastname" required>
                            <mat-error *ngIf="contactUs.controls['lastname'].hasError('required')">
                                Lastname is required 
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="field" appearance="outline" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input type="text" matInput formControlName="email" required>
                            <mat-error *ngIf="contactUs.controls['email'].hasError('required')">
                                Email is required.
                            </mat-error>
                            <mat-error *ngIf="contactUs.controls['email'].hasError('email')">
                                Please enter a valid email.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="field" appearance="outline" style="width: 100%;">
                            <mat-label>Message</mat-label>
                            <textarea rows="7" matInput formControlName="message"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                       <button style="width: 100%;" mat-flat-button type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>