<section class="banner" id="home">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
               <!-- <div class="tagline">
                    Welcome to my portfolio
               </div> -->
               <div class="fw-bolder typewrite-effect text-white display-3 text-break">
                   Hi, I'm Swaraj! I'm a <span class="sec-text ps-2" style="height: 50px;overflow: hidden;"></span> 
               </div>
               <p>I'm a Front-End Developer located in Varanasi, India. I have a serious passion for UI effects, animations and creating intuitive, dynamic user experiences.</p>
               <p>Well coordinate person, problem solver and give high attention to details. Fan of cricket and PC games.</p>
               <p>Interested in the entire frontend and backend spectrum and working with various ambitious projects with positive people.</p>
               <button type="button" (click)="scrollToProjects()" class="mt-2">View my work<i class="fa-solid fa-arrow-right"></i></button>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                <div class="zoomIn">
                    <img src="../../assets/cute_astronaut.png" alt="Mini Astronaut" width="400" height="400">
                </div>
            </div>
        </div>
    </div>
</section>