<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
               <div class="tagline">
                    Welcome to my portfolio
               </div>
               <div class="fw-bolder text-white display-3 text-break">
                   Hi, I'm Swaraj! I'm a <span class="sec-text ps-2"></span> 
               </div>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
               <h5 class="text-white  fw-bold" >Let's Connect <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
              </svg></h5>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                <div class="zoomIn">
                    <img src="../../assets/cute_astronaut.png" alt="Mini Astronaut" width="400" height="400">
                </div>
            </div>
        </div>
    </div>
</section>